@import '~bootstrap/scss/bootstrap.scss';

.jumbotron{
    // background-color: #59a7bf;
    // background-image: url("https://images.pexels.com/photos/692901/pexels-photo-692901.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-color: white;
    font-family: 'Anton', sans-serif;
    max-width: 85%;
    
    
}

#makeRed{
    color: red;
    font: bold;
}
.card{
    width: 25%;
}

.cards{
    display: flex;
    margin-right: 20px;
}